body, html {
    height: 100%;
    margin: 0;
    background-color: #f0f0f0;
}

h2 {
    text-align: center;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

.Borde {
    position: relative;
    top: 0;
    left: 400px;
    width: 600px;
    height: 400px;
    border: 1px solid #000;
}

.Izquierda {
    position: absolute;
    top: 0;
    left: 400px;
    width: 200px;
    height: 400px;
    background-color: #ff0000; /* Color blanco */
}

.Derecha {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 200px;
    height: 400px;
    background-color: #ff0000; /* Color rojo */
}

.Centro {
    position: absolute;
    top: 0;
    left: 200px;
    width: 200px;
    height: 400px;
    background-color: #ffffff; /* Color rojo */
}

.Contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Contenedor img {
    width: 200px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 200px;
    display: block;
}

/* Bandera Svg*/
.Contenedor-svg {
    position: relative;
    top: 0;
    left: 400px;
    width:600px;
    height: 400px;
    border: 1px solid #000;
}
