*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    background: url(img/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
}
h2{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 2rem;
    color: blue;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    display: flex;
}

section{
    text-align: center;
    padding: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

input{
    margin: 20px;
    border-radius: 2px;
}
#su {
    background-color: rgba(11, 120, 202, 0.723);
    color: aqua;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
label{
    text-align: center;
    justify-content: center;
    font-size: 1rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aqua;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border-radius: 2px;
}
img{
    width: 50%;
    border-radius: 30px;
    border: 2px solid black;
    margin: 50px;
    align-items: center;
    align-content: center;
}
