body, html {
    height: 100px; /* Cambiado de 0px a 100% */
    margin: 0px;
    display: flex;
    align-items: center; /* Corrección de 'center auto' a solo 'center' */
    justify-content: center;
}

.Titulo {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px; 
}
@media (max-width: 600px) {
    .container svg {
        width: 100px; /* Reduce el tamaño de los SVGs */
        height: 100px;
    }
}